@font-face {
    font-family: 'Comfortaa';
    src: url('/font/comfortaa.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Comfortaa';
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

#screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;

    background-color: #c5ddf1;
}

.waves {
    background-image: url("/layered-waves.svg");
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: start !important;
}

#stats-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 0.5rem 1rem;
    flex: 0 1 200px;
    gap: 2vmin;
}

#board {
    background-color: #c5ddf1;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: 80vmin;
    aspect-ratio: 1 / 1;
    table-layout: fixed;
    flex: 0 0 auto;
}

.ship-counter {
    font-size: 6vmin;
    text-align: center;

    padding: 2vmin;

    background-color: #4FACF7;
    border-radius: 5px;
}

.cnt-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.water {
    background-color: #0066FF;
}

.ship {
    background-color: #001220;
}

.active-cell {
    background-color: #4FACF7;
    cursor: pointer;
}

.active-cell:hover {
    outline: 5px solid #001220;
}

td,
th {

    aspect-ratio: 1;
}

th {
    height: 2vmin;
    width: 2vmin;

    text-align: center;
    font-size: 2vmin;
    box-sizing: content-box;
    text-overflow: clip;
    overflow: hidden;
}

#win-card {
    height: 70vh;
    width: 70vw;
    text-align: center;
    font-size: 25vmin;
    padding-top: 10vh;
}

#new-game-btn {
    height: 50vh;
    width: 50vw;
    background-color: #4FACF7;

    text-align: center;
    align-content: center;

    font-size: 15vmin;

    border-radius: 50px;
    cursor: pointer;
}